@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body {
  font-family: roboto;
}

.img {
  /*display: block;*/
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 3px;
}

.button-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 8px;
}

.button-ghost:hover {
  opacity: 1;
}

.casset-buttons {
  /*border:1px solid;*/
  display: flex;
  /*justify-content: center;*/
  /*flex-direction: row;*/
  justify-content: center;
}
